@import "../../styles/colors";
@import "../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $x8;
  flex-direction: column;
  max-width: 800px;

  @media (max-width: 768px) {
    margin: $x4;
  }
}

.heroText {
  font-size: 90px;
  text-align: center;
  margin-bottom: 0;
  font-family: lato;
  font-weight: 900;
  @media (max-width: 768px) {
    font-size: 70px;
  }

  @media (max-width: 500px) {
    font-size: 50px;
  }
}

.leadText {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.yellow {
  color: $yellow;
}

.linkText {
  color: $white;
  text-decoration: underline;
  margin-top: $x2;
}
